EXPO_PUBLIC_SUPABASE_URL=https://mnniyglgctrjalvhrsmu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ubml5Z2xnY3RyamFsdmhyc211Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1NjIwMzIsImV4cCI6MjEwMzEzODAzMn0.PQRCmJWTnuvdjiwFSq7vOgJ93iJ-OapGfRLpgfsF3nU
